<div class="container-card">
  <div class="story-card" (click)="openURL(story?.url)">
    <p style="display: flex; align-items: center;">
      <img src="../../../../../assets/iconmonstr-time-2.svg" class="iconmonstr-time-2">

      <span class="date-and-author">{{ story?.creationDate | timeAgo }} by {{ story?.author }}</span>
    </p>

    <p style="height: 76px;">
      <span class="title">{{ story?.title }}</span>
    </p>
  </div>

  <div class="like-button" (click)="like()">
    <img [src]="liked ? imgLiked : imgNotLiked" class="iconmonstr-favorite-2">
  </div>
</div>
