.story-card {
  padding: 14px 26px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  cursor: pointer;
}

img.iconmonstr-time-2 {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 5px;
}

.date-and-author {
  font-size: 11px;
  color: #767676;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}
