.container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.story-card {
  opacity: 0.8;
  border-radius: 6px 0px 0px 6px;
  border: solid 1px #979797;
  border-right-style: none;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
}

img.iconmonstr-time-2 {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 5px;
}

.date-and-author {
  font-size: 11px;
  color: #767676;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}

.like-button {
  border-radius: 0px 6px 6px 0px;
  border: solid 1px #979797;
  border-left-style: none;
  background-color: #d1d1d1;
  right: 0px;
  display: flex;
  align-items: center;
}

img.iconmonstr-favorite-2 {
  width: 24px;
  height: 22px;
  object-fit: contain;
  margin: 0px 5px;
}
